* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    }
    
    .mdiv{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    Left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./bk.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    }
    
    .container{
    height: 400px;
    width: 300px;
    box-shadow: 0px 0px 20px rgb(66, 48, 160);
    border-radius: 30px;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    
    }
    
    .heading{
    color:blue;
    font-family: Arial Black;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
    }
    
    input[type="text"]{
      
    height: 30px;
    width: 180px;
    padding-left: 10px;
    outline: none;
    font-weight: bolder;
    border: none;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    background-color: transparent;
    }
    
    .srch_btn{
    border: none;
    background-color: transparent;
     padding-top: 20px;
    cursor: pointer;
    }
    
    .component{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .btn{
     margin-top: -20px;
    margin-left: 10px;
    }
    
     #city{
     color: rgb(193, 86, 50);
    font-family: Arial Black;
    font-size: 25px;
    margin-bottom: 10px;
    padding-bottom: 10px;

     }
    
    .measurement{
    font-family: sans-serif;
    font-weight: bolder;
    padding-top: 10px;
    color: rgb(107, 67, 211);
    }
    
    
    .headings{
    color: rgb(214, 77, 207);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    }
    